h1 {
    text-align: center;
    font-size: 55px;

}
#p1 {
    font-size: 30px;
    text-align: center;  
}

#center{
    text-align: center;
}

.checkbox-inline {
    font-size: 20px;
    padding-right: 5PX;

}

#select{
    text-align: center;
}

.form-group{
    margin-top: 10px;
}
.form-group #car_type {
    text-align: center;
}

.btn-primary {
    color: #fff;
    /* background-color: #337ab7; */
    border-color: #2e6da4;
    margin-left: 8px;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#411346 0,#411346 100%);
    border-color: #411346;
}

.form-control{
    width: 300px;
    margin-left: 420px;
}
    