h1 {
    text-align: center;
    font-size: 55px;

}
#p1 {
    font-size: 30px;
    text-align: center;  
}

#center{
    text-align: center;
}

.checkbox-inline {
    font-size: 20px;
    padding-right: 5PX;

}

#select{
    text-align: center;
}

    